.post {
  border-bottom: thin solid rgb(113, 118, 123);
  padding: 12px;

  display: flex;
  flex-direction: row;
}

.post:hover {
   background-color: rgba(231, 233, 234, 0.1);
  cursor: pointer;
}

.post-data {
  margin-left: 1rem;
  width: 100%;
}

.post-data__info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-creator {
  font-weight: 700;
}

.info-login {
  margin: 0 6px 0 12px;
}

.info-time {
  margin-left: 6px;
}

.post-data__content {
  margin: 0.2rem 0 1rem 0;
  font-weight: 450;
}

.post-data__stats {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 1.1rem;
  font-size: 1rem;
}

.post-data__stats svg {
  margin-right: 0.25rem;
  height: 1.1rem;
}

.stat {
  align-items: center;
  display: flex;
}

.stat svg {
  width: 1.1rem;
  border: 0.4rem solid transparent;
  border-radius: 1rem;
}

.post-data__content-image {
  margin-top: 0.7rem;
  max-width: 95%;
  border-radius: 1rem;
  border: thin solid rgb(113, 118, 123);
}

.stat-reply:hover, .stat-views:hover {
  color: rgb(29, 155, 240);
}

.stat-redogg:hover {
  color: rgb(249, 24, 128);
}

.stat-like:hover {
  color: rgb(0, 186, 124);
}

.stat-reply:hover svg, .stat-views:hover svg {
  background-color: rgba(29, 155, 240, 0.05);
  border-color: rgba(29, 155, 240, 0.05);
}

.stat-redogg:hover {
  color: rgb(249, 24, 128);
}

.stat-redogg:hover svg {
  background-color: rgba(249, 24, 128, 0.05);
  border-color: rgba(249, 24, 128, 0.05);
}

.stat-like:hover {
  color: rgb(0, 186, 124);
}

.stat-like:hover svg {
  background-color: rgba(0, 186, 124, 0.05);
  border-color: rgba(0, 186, 124, 0.05);
}